:root {
  --theme-color-bg: #eee;
  --theme-color-card-bg: #fff;
  --theme-color-fg: #333;
  /* --theme-font-family-base: sans-serif; */
  --theme-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
